<footer class="text-center text-lg-start bg-dark text-muted">

  <section class="d-flex justify-content-center align-items-center p-1 border-bottom text-center">

    <div class="row p-2">

      <div class="col col-12 com-sm-2 col-md-2 col-lg-2 text-reset">
        <img class="footer-img" src="../../assets/msca.png">
      </div>

      <div class="col col-12 com-sm-7 col-md-7 col-lg-7 text-center" style="padding: 2em;">
        <span class="align-middle">
          <p class="text">XISMUS software was developed within the Marie Sklodowska-Curie Actions Innovative Training Network (MSCA-ITN) framework, as part of the ED-ARCHMAT programme.</p>
        </span>
      </div>

      <div class="col col-12 com-sm-2 col-md-2 col-lg-2 text-reset">
        <img class="footer-img" src="../../assets/sapienza.png">
      </div>

    </div>

  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://phd.uniroma1.it/web/SERGIO-AUGUSTO-BARCELLOS-LINS_nP1825331_EN.aspx" target="_blank">Sergio A. Barcellos Lins</a>
  </div>

</footer>
