<table class="table table-striped table-hover">

  <thead>

    <tr>
      <th *ngFor="let template of tableTemplate">
        {{template.header}}
      </th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let element of arrayData">

      <td *ngFor="let template of tableTemplate">

        <tr *ngIf="isArray(element[template.nameProp])">
          <div *ngFor="let line of element[template.nameProp]">
            {{line}}
          </div>
        </tr>

        <tr *ngIf="!isArray(element[template.nameProp]) && (template.nameProp != 'x86' && template.nameProp != 'x64')">
          {{element[template.nameProp]}}
        </tr>

        <tr *ngIf="!isArray(element[template.nameProp]) && (template.nameProp == 'x64' || template.nameProp == 'x86')">
          <a href={{element[template.nameProp]}} target="_blank">Download</a>
        </tr>

      </td>

    </tr>

  </tbody>

</table>
