.dummy {
  margin: auto;
  height: 75vh;
  display: table;
  padding: 2em; 
}

.input-field {
  max-width: 400px;
  min-width: 245px;
}

.form-style {
  padding: inherit;
  border-style: groove;
}

.label {
  font-size: 14pt;
  font-style: oblique;
  font-family: Tahoma;
}

.error-msg {
  max-width: 225px;
  color: red;
  font-size: 10pt;
  font-family: Tahoma;
}
