<div class="content lg-auto dummy">

  <form [formGroup]="FormData"
        (ngSubmit)="onSubmit()"
        class="form-style"
        method="post">

    <!--INPUT 1-->
    <label>Name:</label><br />
    <input class="form-control input-field"
               type="text"
               name="name"
               required
               placeholder="Name"
               formControlName="name"/>

    <br />

    <!--INPUT 2-->
    <label>Surname:</label><br />
    <input class="form-control input-field"
               type="text"
               name="surname"
               required
               placeholder="Surname"
               formControlName="surname"/>

    <br />

    <!--INPUT 3-->
    <label>Email:</label><br />
    <input class="form-control input-field"
               type="text"
               name="email"
               required
               placeholder="name.surname@example.org"
               formControlName="email"/>


    <br />

    <!--INPUT 4-->
    <label>Institution:</label><br />
    <input class="form-control input-field"
               type="text"
               name="institution"
               required
               placeholder="Example University"
               formControlName="institution"/>

    <br />

    <!--INPUT 5-->
    <label>Message:</label><br />
    <textarea class="form-control input-field"
              type="text"
              name="text"
              required
              placeholder="Enter your message here."
              formControlName="text"
              rows="4">
    </textarea>

    <input type="hidden" name="_subject" value="XISMuS Contact">
    <input type="hidden" name="_honeypot" value="">
    <input type="hidden" name="_confirmation" value="Contact request sent!">

    <br />

    <!--SUBMISSION-->
    <button type="submit" class="btn btn-primary"
            [disabled]="!FormData.valid">
      Sumbit
    </button>
    <!-------------->

    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span>{{responseMessage}}</span>
    </div>

  </form>
</div>
