<div class="content sm-auto md-auto lg-auto xl-auto">

  <!-- CARD 1 -->

  <div class="flex-row p-3">

    <div class="row">

      <div class="col col-12 col-sm-12 col-md-12 col-lg-5">
        <h2 class="h2-right">Analyze your data.<br />Simpler than ever.</h2>
        <p class="text">{{card1Testo}}</p>
      </div>

      <div class="col col-12 col-sm-12 col-md-12 col-lg">
        <img class="img-fluid" src="../../assets/figure1.png" />
      </div>

    </div>

  </div>

  <hr />

  <!---------->
  <!-- CARD 2 -->

  <div class="flex-row">

    <div class="card2">

      <div class="row p-2">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-5">
          <h2 class="h2-card2">Merge different<br />datasets.</h2>
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-7">
          <p class="text">{{card2Testo}}</p>
        </div>

      </div>

      <div class="row">
        <img class="img-fluid" src="../../assets/figure2.png" />
      </div>

    </div>

  </div>

  <hr />

  <!---------->
  <!-- CARD 3 -->

  <div class="flex-row p-3">

    <div class="row">

      <div class="col col-12 col-sm-12 col-md-12 col-lg">
        <div class="row">
          <img class="img-fluid" src="../../assets/figure3.png" />
        </div>
        <div class="row">
          <p class="caption">You can open as many samples you want and visually compare different datasets! <br /> Image Analyzer module is independent</p>
        </div>

      </div>

      <div class="col col-12 col-sm-12 col-md-12 col-lg-5">
        <h2 class="h2-left">Mask, correlate, fit.</h2>
        <p class="text">{{card3Testo}}</p>
      </div>

    </div>


  </div>

  <hr />

</div>


